// HEADER
header {
	.header_top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 0;
		border-bottom: 1px solid #d6dfed;
	}
	.address,
	.social,
	.phone_number {
		position: relative;
		&::after {
			position: absolute;
			content: "";
			width: 1px;
			height: 56px;
			left: -7px;
			top: 50%;
			transform: translate(0, -50%);
			background-color: #d6dfed;
		}
	}
	.brand_logo {
		width: 190px;
		height: 78px;
		border: none;
		flex: 0 0 auto;
	}
	.brand_logo img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.address {
		padding: 0 21px 0 21px;
		margin: 0 0 0 106px;
		display: flex;
		flex-direction: column;
		gap: 8px;
		align-items: flex-start;
		text-wrap: nowrap;
		a {
			display: flex;
			align-items: center;
			gap: 8px;
			font-size: 14px;
			font-weight: 400;
			color: #060525;
		}
		span {
			width: 28px;
			height: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px dashed #d6dfed;
			border-radius: 50%;
			img {
				width: 15px;
				height: 20px;
			}
		}
	}
	.social {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 14px;
		font-weight: 400;
		padding: 0 28px 0 42px;
		text-wrap: nowrap;
		width: 27%;
		a {
			display: flex;
		}
		img {
			width: 40px;
			height: 40px;
		}
		&::before {
			position: absolute;
			content: "";
			width: 8px;
			height: 8px;
			left: 22px;
			top: 50%;
			border-radius: 50%;
			transform: translate(0, -50%);
			background-color: #00d655;
		}
	}
	.phone_number {
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 0 0 0 28px;
		img {
			width: 54px;
			height: 54px;
			padding: 8px;
			border-radius: 50%;
			border: 1px dashed #d6dfed;
		}
		div {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		span {
			font-size: 20px;
			color: #060525;
		}
		p {
			font-size: 12px;
			font-weight: 400;
			color: #9cadc9;
		}
	}
	.header_bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #d6dfed;
		padding: 15px 0;
		nav {
			position: relative;
		}
	}
	.nav_item {
		border-radius: 100px;
		background-color: #fff;
		padding: 9px 6.5px 9px 14.5px;
		font-size: 16px;
		font-weight: 400;
		color: #060525;
		margin: 0 9px 0 0;
		border: 1px solid #fff;
		transition: 0.3s all ease-out;
		display: inline-block;
		&:last-child {
			margin: 0;
		}
		&:hover {
			border-color: #d6dfed;
			background-color: #f0f3f8;
			.menus_list {
				transform: none;
				opacity: 1;
				visibility: visible;
			}
		}
		// &.active {
		// 	border-color: #d6dfed;
		// 	background-color: #f0f3f8;
		// 	.menus_list {
		// 		transform: none;
		// 		opacity: 1;
		// 		visibility: visible;
		// 	}
		// }
		a {
			color: #060525;
		}
		.open_menu {
			width: 25px;
			height: 22px;
			padding: 8px 0px;
			vertical-align: middle;
			cursor: pointer;
		}
		.menus_list {
			position: absolute;
			left: 0;
			top: calc(100% + 18px);
			border: 1px solid #d6dfed;
			border-radius: 20px;
			background-color: #fff;
			transform: translateY(20px);
			width: 1160px;
			opacity: 0;
			visibility: hidden;
			z-index: 2;
			transition: 0.3s transform ease-out, 0.3s visibility ease-out,
				0.1s opacity ease;
			.menu {
				max-width: 693px;
				width: 100%;
				padding: 18px;
				border-right: 1px solid #d6dfed;
				border-radius: 20px;
			}
		}
	}
	.menus_list li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 18px 0;
		position: relative;
		&:first-child {
			padding: 0 0 18px 0;
			.inner_menu {
				top: -18px;
			}
		}
		&:last-child {
			padding: 18px 0 0 0;
			&::after {
				display: none;
			}
		}
		img:first-child {
			width: 88px;
			height: 48px;
			border-radius: 8px;
		}
		.open_inner {
			cursor: pointer;
		}
		div {
			display: flex;
			align-items: center;
			gap: 18px;
		}
		.inner_menu {
			position: absolute;
			right: -36px;
			top: 0;
			transform: translate(90%, 0);
			transition: 0.3s all ease-out;
			opacity: 0;
			visibility: hidden;
			li {
				padding: 30px 0;
				&:last-child {
					&::after {
						display: block;
					}
				}
			}
		}
		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 0;
			background-color: #eaeaea;
		}
		&:hover {
			.inner_menu {
				transform: translate(100%, 0);
				opacity: 1;
				visibility: visible;
			}
		}
		// &.active {
		// 	.inner_menu {
		// 		transform: translate(100%, 0);
		// 		opacity: 1;
		// 		visibility: visible;
		// 	}
		// }
	}
	.to_call {
		display: flex;
		align-items: center;
		gap: 6px;
		border-radius: 100px;
		font-size: 16px;
		color: #ffffff;
		padding: 10px 10px 10px 20px;
		background: linear-gradient(
			135deg,
			rgb(219, 42, 29),
			rgb(219, 42, 29) 100%
		);
		transition: 0.3s all ease-out;
		&:hover {
			background: linear-gradient(
				135deg,
				rgb(250, 80, 68),
				rgb(255, 90, 78) 100%
			);
		}
	}
}
// HERO
.hero {
	margin: 28px 0 100px 0;
	.hero_card {
		background-color: #ffffff;
		border-radius: 20px;
		box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
		display: flex;
		background-image: url(../images/hero_back.png);
		background-size: 89%;
		background-position: 57% -46%;
		background-repeat: no-repeat;
		margin: 0 0 28px 0;
	}
	.hero_left {
		padding: 28px 28px 0 28px;
		h1 {
			line-height: 105%;
			margin: 0 0 35px 0;
		}
		p {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 18px;
			font-weight: 400;
			line-height: 120%;
			margin: 0 0 15px 0;
			&:last-child {
				margin: 0;
			}
		}
	}	
	.hero_row {
		display: flex;
		gap: 28px;
	}
	.hero_item {
		border-radius: 20px;
		box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
		background: #fff;
		padding: 28px 49px 28px 28px;
		width: calc(25% - 21px);
		img {
			margin: 0 0 28px 0;
		}
		.hero_title {
			font-size: 18px;
			font-weight: 600;
			line-height: 130%;
		}
	}
}
.consultation {
	flex: 0 0 auto;
	width: 467px;
	border-radius: 20px;
	background-color: #2e3548;
	padding: 48px 48px 62px 48px;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	h3 {
		font-size: 32px;
		line-height: 115%;
		letter-spacing: -2px;
		color: #ffffff;
		margin: 0 0 18px 0;
	}
	.text_2 {
		color: #9aa2b7;
		font-weight: 400;
		line-height: 135%;
		margin: 0 21px 25px 21px;
	}
	input,
	button {
		width: 100%;
		font-family: Manrope;
		border: none;
		outline: none;
	}
	input {
		border-radius: 12px;
		background-color: #ffffff;
		font-size: 16px;
		font-weight: 500;
		margin: 0 0 12px 0;
		padding: 16px 20px;
	}
	button {
		justify-content: center;
		font-size: 20px;
		padding: 19px 12px;
		margin: 0 0 19px 0;
	}
	.consult_desc {
		font-size: 12px;
		font-weight: 400;
		line-height: 160%;
		letter-spacing: 0%;
		color: #9aa2b7;
		padding: 0 4px;
		a {
			font-weight: 600;
			color: #ffffff;
			text-decoration: underline;
		}
	}
	&::after {
		position: absolute;
		content: "";
		left: -451px;
		bottom: 113px;
		z-index: -1;
		width: 300%;
		height: 80%;
		background-image: url(../images/zigzak.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left center;
		transform: rotate(-35deg);
	}
}
.cta{
	display: flex;
	border-radius: 20px;
	background-color: #F0F3F8;
	.cta_left{
		padding: 28px;
	}
	.cta_title{
		font-size: 36px;
		font-weight: 700;
		line-height: 115%;
		letter-spacing: -2px;
		a{
			color: #DB2A1D;
			text-decoration: underline;
		}
	}
	.cta_desc{
		font-size: 18px;
		font-weight: 400;
		line-height: 145%;
		letter-spacing: -1px;
	}
}
// SERVICES
.services {
	background-color: #ffffff;
	border-radius: 45px 45px 0px 0px;
	padding: 100px 0;
	.section_top{
		display: flex;
		align-items: flex-end;
		gap: 28px;
		margin: 0 0 58px 0;
		.section_title, .section_desc{
			width: calc(50% - 14px);
		}
		.section_title{
			line-height: 110%;
		}
		.section_desc{
			font-size: 16px;
			font-weight: 400;
			line-height: 145%;
			letter-spacing: 0%;
		}
	}
	.services_cards{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 28px;
		margin: 0 0 80px 0;
	}
	.service_col{
		width: calc(50% - 14px);
		display: flex;
		gap: 28px;
		flex-direction: column;
	}	
	.service_item{
		overflow: hidden;
		background-color: #FBFBFB;
		border-radius: 20px;
	}
	.service_top{
		border-radius: 20px;
		background-color: #F0F3F8;
		background-image: url(../images/service_zigzak.png);
		background-repeat: no-repeat;
		background-position: center;
		padding: 28px;
		overflow: hidden;
		position: relative;
		height: 242px;
		z-index: 1;
		.service_img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			border-radius: 22px;
			overflow: hidden;
		}
		.open_ul{
			position: absolute;
			right: 28px;
			bottom: 28px;
			cursor: pointer;
			border-radius: 50%;
			transition: .3s transform ease;
			&.active{
				transform: rotate(90deg);
				rect{
				fill: transparent;
				stroke: #DB2A1D;
				stroke-width: 3px;
				}
				path{
					fill: #DB2A1D;
				}
			}
		}
	}
	.cta .cta_title{

	}
}
.services_list{
	height: 0;
	transition: .3s all ease;
	border-radius: 0 0 20px 20px;
	&.active{
		height: auto;
	}
	li{
		padding: 28px 25px 25px 28px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		&::after{
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 0;
			background-color: #F0F3F8;
		}
	}
	.service_title{
		font-size: 24px;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: -2px;
	}
	div:has(.price){
		display: flex;
		align-items: center;
		gap: 24px;
		position: relative;
		&::after{
			position: absolute;
			content: '';
			width: 1px;
			height: 40px;
			background-color: #F0F3F8;
			left: -28px;
			top: 50%;
			transform: translate(0,-50%);
		}
	}
	.price{
		font-size: 14px;
		font-weight: 400;
		line-height: 120%;
		text-align: center;
		width: 62px;
	}
	.main_btn{
		justify-content: center;
		padding: 13px 24px;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0%;
	}
	li:has(.price){
		padding: 18px 28px;
		.service_title{
			font-size: 16px;
		}
	}
}
body:has(.modal_back.active){
	overflow: hidden;
}
.modal_back{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #2E3548;
	opacity: 0;
	transition: .2s all ease;
	z-index: 3;
	width: 100%;
	height: 100%;
	visibility: hidden;
	&.active{
		visibility: visible;
		opacity: .3;
	}
}
.service_modal{
	max-width: 764px;
	width: 100%;
	position: fixed;
	top: 46%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #FFF;
	border-radius: 20px;
	z-index: 3;
	padding: 28px 38px;
	opacity: 0;
	visibility: hidden;
	scale: .9;
	transition: .3s all ease;
	&.active{
		opacity: 1;
		visibility: visible;
		top: 50%;
		scale: 1;
	}
	.close_modal{
		position: absolute;
		right: -40px;
		top: -40px;
		cursor: pointer;
	}
	.services_list{
		position: relative;
		height: auto;
	}
	.service_header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 28px 0;
		margin: 0 0 28px 0;
		border-bottom: 1px solid #D6DFED;
		svg{
			border-radius: 50%;
			transform: rotate(90deg);
		}
	}
	.service_option{
		padding: 28px 0;
		border-top: 1px solid #D6DFED;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 32px;
		font-weight: 700;
		line-height: 120%;	
		&:last-child{
			border-bottom: 1px solid #D6DFED;
		}
	}
	.services_list{
		border-radius: 20px;
		background-color: #F0F3F8;
		padding: 0 28px;
		margin: 0 0 28px 0;
	}
	.services_list li:has(.price){
		padding: 18px 0;
	}
}
// faq
.faq {
	padding: 100px 0;
	border-radius: 45px 45px 0px 0px;
	background: rgb(240, 243, 248);
	.faq_block {
		display: flex;
		align-items: flex-start;
		gap: 28px;
		flex-wrap: wrap;
	}
	.faq_item_wrapper {
		flex: 0 0 auto;
		width: calc(50% - 14px);
		display: flex;
		flex-direction: column;
		gap: 18px;
	}
	.faq_item {
		border-radius: 14px;
		box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
		background: rgb(255, 255, 255);
	}
	.faq_arrow {
		background: linear-gradient(
			135deg,
			rgb(219, 42, 29) 0%,
			rgb(219, 42, 29) 100%
		);
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all ease-in-out 0.4s;
		transform: rotate(45deg);
		cursor: pointer;
		&.active {
			transform: rotate(360deg);
		}
	}
	.faq_head {
		user-select: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 16px 0 28px;
		padding: 16px 0px 16px 0px;
		&.active {
			border-bottom: 1px solid rgb(234, 234, 234);
		}
	}
	.faq_body {
		padding: 18px 28px 23px 28px;
	}
	.faq_desc {
		color: rgb(6, 5, 37);
		font-size: 16px;
		font-weight: 400;
		line-height: 140%;
		max-width: 500px;
	}
}

// quiz
.quiz {
	padding: 100px 0;
	border-radius: 45px;
	background: rgb(255, 255, 255);
	.quiz_block {
		border-radius: 20px;
		display: flex;
		justify-content: space-between;
		background: url("../images/big_zigzak.png"), rgb(240, 243, 248);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		position: relative;
		transition: all ease-in 0.1s;
		&.active {
			background: url(../images/quiz_active_img.png) no-repeat;
			background-position: bottom;
		}
	}
	.quiz_details {
		padding: 48px;
	}
	.quiz_title {
		color: rgb(6, 5, 37);
		font-size: 42px;
		font-weight: 700;
		line-height: 105%;
		letter-spacing: -2px;
		margin-bottom: 48px;
		max-width: 460px;
	}
	.quiz_wrapper {
		position: absolute;
		top: 0;
		z-index: 5;
		width: 570px;
		height: 100%;
		border-radius: 20px;
		background: url("../images/quiz_zigzak.png"), rgb(46, 53, 72);
		background-position: 100%;
		background-repeat: no-repeat;
		overflow: hidden;
		right: -100%;
		transition: all ease 0.3s;
		&.active {
			right: 0;
		}
	}
	.quiz_number {
		padding: 26px 26px 26px 28px;
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: 700;
		line-height: 115%;
		letter-spacing: 2px;
	}
	.quiz_progress {
		width: 100%;
		height: 10px;
		border-radius: 0;
		margin-bottom: 28px;

		&::-webkit-progress-value {
			background: linear-gradient(
				135deg,
				rgb(219, 42, 29) 0%,
				rgb(219, 42, 29) 100%
			);
			transition: all ease 1s;
		}
		&::-webkit-progress-bar {
			background-color: rgb(255, 255, 255);
		}
	}
	.quiz_swiper {
		width: 100%;
		padding-left: 28px;
		z-index: 15;
	}
	.progress_question {
		color: rgb(255, 255, 255);
		font-size: 24px;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: -2px;
		text-align: left;
		margin-bottom: 28px;
	}
	.varaint_block {
		display: flex;
		flex-direction: column;
		gap: 14px;
		.variant_item {
			display: flex;
			align-items: center;
			gap: 8px;
			cursor: pointer;
			span {
				color: rgb(255, 255, 255);
				font-size: 16px;
				font-weight: 500;
				line-height: 120%;
				letter-spacing: -2px;
			}
			input {
				width: 22px;
				height: 22px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				gap: 8px;
				background: rgb(46, 53, 72);
				border: 1px solid rgb(255, 255, 255);
				appearance: none;
				&.checkbox {
					&:checked {
						&:after {
							width: 10px;
							height: 10px;
							top: 0px;
							left: 0;
							bottom: 0;
							right: 0;
							margin: auto;
							position: relative;
							background: url(../images/icons/quiz_true_icon.svg);
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
							content: "";
							display: inline-block;
							visibility: visible;
						}
					}
				}
				&:checked {
					&:after {
						width: 10px;
						height: 10px;
						border-radius: 50%;
						top: 0px;
						left: 0;
						bottom: 0;
						right: 0;
						margin: auto;
						position: relative;
						background: rgb(255, 255, 255);
						content: "";
						display: inline-block;
						visibility: visible;
					}
				}
			}
		}
	}
	.quiz_buttons {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: end;
		position: absolute;
		right: 28px;
		bottom: 28px;
	}
	.center {
		text-align: center;
	}
	.quiz_left_btn.swiper-button-disabled {
		opacity: 0.5;
	}
	.quiz_left_btn a {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100px;
		border: 1px solid rgb(219, 42, 29);
		width: 48px;
		height: 48px;
		border-radius: 50%;
	}
	.quiz_form {
		display: flex;
		flex-direction: column;
		gap: 12px;
		display: none;
		padding: 0 48px 0 20px;
		input {
			width: 100%;
			height: 56px;
			outline: none;
			padding-left: 20px;
			font-size: 16px;
			font-weight: 400;
			line-height: 100%;
			border-radius: 12px;
			background: rgb(255, 255, 255);
			&::placeholder {
				color: rgb(192, 192, 192);
				font-size: 16px;
			}
		}
		button {
			padding: 20px 0;
			display: block;
			text-align: center;
			color: rgb(255, 255, 255);
			font-size: 19px;
			font-weight: 700;
			line-height: 125%;
			letter-spacing: -2px;
			border-radius: 100px;
			margin-bottom: 6px;
			background: linear-gradient(
				135deg,
				rgb(219, 42, 29) 0%,
				rgb(219, 42, 29) 100%
			);
		}
		.form_rule {
			max-width: 391px;
			margin: 0 auto;
			font-size: 12px;
			line-height: 155%;
			text-align: center;
			color: rgb(154, 162, 183);
			a {
				font-weight: 600;
				color: #fff;
			}
		}
	}
}

// repair
.repair {
	padding: 100px 0;
	.repair_table {
		border-collapse: collapse;
		width: 100%;
		border: 1px solid rgb(234, 234, 234);
		td {
			border: 1px solid rgb(234, 234, 234);
		}

		thead {
			background: linear-gradient(
				135deg,
				rgb(219, 42, 29) 0%,
				rgb(219, 42, 29) 100%
			);
			th {
				vertical-align: middle;
				color: rgb(255, 255, 255);
				font-size: 18px;
				font-weight: 700;
				line-height: 120%;
				letter-spacing: -2px;
				padding: 28px 0 28px 20px;
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent;
				border-left: 1px solid rgb(234, 67, 55);
				min-width: 197px;
				&:last-child {
					border-radius: 0px 20px 0px 0px;
				}
				&:first-child {
					border-left: 1px solid transparent;
					border-radius: 20px 0px 0px 0px;
				}
			}
		}
		tbody {
			border-radius: 14px;
			box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
			background: rgb(255, 255, 255);
			td {
				vertical-align: middle;
				padding: 30px 0 30px 20px;
				color: rgb(6, 5, 37);
				font-size: 16px;
				font-weight: 400;
				line-height: 120%;
				letter-spacing: -2px;
			}
			tr:last-child {
				td {
					&:last-child {
						border-radius: 0px 0px 14px 0px;
					}
					&:first-child {
						border-radius: 0px 0px 0px 14px;
					}
				}
			}
		}
	}
}

// discount
.discount {
	border-radius: 45px 45px 0px 0px;
	background: url(../images/zigzak.png), rgb(46, 53, 72);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 100px 0;
	.discount_title {
		color: rgb(255, 255, 255);
		font-size: 56px;
		font-weight: 700;
		line-height: 110%;
		letter-spacing: -3px;
		text-align: center;
		margin-bottom: 50px;
	}
	.discount_item {
		flex: 0 0 auto;
		width: calc(33.33% - 18px);
		padding: 38px;
		background: url(../images/percent_img.png), #fff;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		border-radius: 20px;
	}
	.discount_block {
		display: flex;
		justify-content: space-between;
	}
	.discount_topic {
		max-width: 182px;
		margin: 0 auto 40px auto;
		color: rgb(6, 5, 37);
		font-size: 30px;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: -2px;
		text-align: center;
	}
}

// payment_option
.payment_option {
	background: rgb(46, 53, 72);
	.payment_option_wrapper {
		background: rgb(240, 243, 248);
		border-radius: 45px 45px 0px 0px;
		padding: 100px 0;
	}
	.payment_option_block {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.payment_item {
		padding: 28px;
		flex: 0 0 auto;
		width: calc(33.33% - 18px);
		border-radius: 20px;
		box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
		background: rgb(255, 255, 255);
	}
	.payment_img {
		display: flex;
		justify-content: space-between;
		margin-bottom: 38px;
	}
	.circle_icon {
		background: rgb(240, 243, 248);
		width: 20px;
		height: 20px;
		border-radius: 50%;
	}
	.payment_name {
		color: rgb(6, 5, 37);
		font-size: 24px;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: -2px;
	}
}

// partner
.partner {
	border-radius: 45px 45px 0px 0px;
	background: rgb(240, 243, 248);
	position: relative;
	.manager_block {
		display: flex;
		justify-content: space-between;
		gap: 45px;
		border-radius: 20px;
		margin-bottom: 100px;
		box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
		position: absolute;
		top: -270px;
		z-index: 12;
		background-color: #fff;
	}
	.partner_wrapper {
		padding-top: 400px;
	}
	.manager_left {
		padding: 38px 0 38px 38px;
	}
	.manager_name {
		color: rgb(6, 5, 37);
		font-size: 56px;
		font-weight: 700;
		line-height: 110%;
		letter-spacing: -2px;
		margin-bottom: 2px;
	}
	.about_manager {
		color: rgb(6, 5, 37);
		font-size: 18px;
		font-weight: 500;
		line-height: 145%;
		letter-spacing: -1px;
		padding-bottom: 28px;
		max-width: 330px;
	}
	.manager_description {
		color: rgb(6, 5, 37);
		font-size: 16px;
		font-weight: 400;
		line-height: 140%;
		max-width: 500px;
		padding-top: 28px;
		border-top: 1px solid rgb(234, 234, 234);
		margin-bottom: 20px;
	}
	.partner_row {
		display: flex;
		gap: 12px;
	}
	.partner_block {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	.partner_swiper {
		flex: 0 0 auto;
		width: 100%;
	}
	.partner_row3 {
		padding-bottom: 100px;
	}
	.partner_item {
		user-select: none;
		display: flex;
		align-items: center;
		gap: 13px;
		min-width: 295px;
		padding: 26px;
		border-radius: 18px;
		box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
		background: rgb(255, 255, 255);
	}
	.partner_logo_name {
		color: rgb(195, 207, 227);
		font-size: 22px;
		font-weight: 800;
		line-height: 145%;
		letter-spacing: 2px;
	}
}

// employees
.employees {
	padding: 100px 0 370px 0;
	border-radius: 45px 45px 0px 0px;
	background: rgb(255, 255, 255);
	.employee_block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.employee_item {
		border-radius: 20px;
		padding: 4px;
		box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
		background: rgb(240, 243, 248);
	}
	.employ_img {
		margin-bottom: 4px;
	}
	.employ_body {
		padding: 28px;
		border-radius: 18px;
		background: rgb(255, 255, 255);
	}
	.employ_name {
		color: rgb(6, 5, 37);
		font-size: 24px;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: -2px;
		padding-bottom: 18px;
		margin-bottom: 19px;
		border-bottom: 1px solid rgb(234, 234, 234);
	}
	.employ_job {
		color: rgb(6, 5, 37);
		font-size: 16px;
		font-weight: 400;
		line-height: 120%;
		letter-spacing: -2px;
	}
}

// question
.question {
	border-radius: 45px 45px 0px 0px;
	background: url(../images/zigzak.png), rgb(46, 53, 72);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 100px 0;
	.question_block {
		display: flex;
		justify-content: space-between;
		border-radius: 20px;
		background: rgb(240, 243, 248);
	}
	.question_item {
		flex: 0 0 auto;
		width: 50%;
	}
	.question_left {
		padding: 38px 0 0 38px;
		position: relative;
		overflow: hidden;
	}
	.question_title {
		color: rgb(6, 5, 37);
		font-size: 52px;
		font-weight: 700;
		line-height: 110%;
		letter-spacing: -3px;
		margin-bottom: 18px;
	}
	.question_desc {
		color: rgb(6, 5, 37);
		font-size: 18px;
		font-weight: 400;
		line-height: 145%;
		letter-spacing: -1px;
		max-width: 320px;
	}

	.question_circle {
		width: 500px;
		height: 500px;
		border-radius: 1000px;
		background: linear-gradient(
			180deg,
			rgb(219, 42, 29),
			rgba(255, 255, 255, 0) 100%
		);
		position: absolute;
		right: -100px;
		z-index: 0;
		bottom: -260px;
		text-align: center;
		img {
			margin: 0 50px 0 0;
		}
	}
	.question_right {
		padding: 48px;
		border-radius: 20px;
		background: rgb(255, 255, 255);
	}
	.question_form {
		display: flex;
		flex-direction: column;
		gap: 12px;
		input {
			box-sizing: border-box;
			border: 1px solid rgb(214, 223, 237);
			border-radius: 12px;
			background: rgb(240, 243, 248);
			height: 56px;
			padding-left: 20px;
			font-size: 16px;
			font-weight: 400;
			line-height: 100%;
			outline: none;
			&::placeholder {
				font-size: 16px;
				color: rgb(156, 173, 201);
			}
		}
		textarea {
			padding: 20px;
			font-size: 16px;
			font-weight: 400;
			line-height: 100%;
			outline: none;
			box-sizing: border-box;
			border: 1px solid rgb(214, 223, 237);
			border-radius: 12px;
			background: rgb(240, 243, 248);
			resize: none;
			min-height: 106px;
			&::placeholder {
				font-size: 16px;
				color: rgb(156, 173, 201);
			}
		}
		button {
			padding: 18px 0;
			display: block;
			text-align: center;
			color: rgb(255, 255, 255);
			font-size: 22px;
			font-weight: 700;
			line-height: 125%;
			letter-spacing: -2px;
			border-radius: 100px;
			border: none;
			background: linear-gradient(
				135deg,
				rgb(219, 42, 29) 0%,
				rgb(219, 42, 29) 100%
			);
			margin-bottom: 6px;
		}
	}
	.form_rule {
		color: rgb(156, 173, 201);
		font-size: 12px;
		line-height: 155%;
		letter-spacing: 0%;
		text-align: center;
		a {
			color: rgb(156, 173, 201);
			font-size: 12px;
			font-weight: 600;
			line-height: 155%;
			letter-spacing: 0%;
			text-align: center;
		}
	}
}
// contact section
.contact {
	background: rgb(46, 53, 72);
	.contact_wrapper {
		padding: 93px 0 0px 0;
		border-radius: 45px 45px 0px 0px;
		background: #f0f3f8;
	}
	.contact_title {
		color: rgb(6, 5, 37);
		font-size: 56px;
		font-weight: 700;
		line-height: 110%;
		letter-spacing: -3px;
		text-align: center;
		padding-bottom: 48px;
		margin-bottom: 48px;
		border-bottom: 1px solid rgb(214, 223, 237);
	}
	.contact_number {
		text-align: center;
		margin-bottom: 14px;
		a {
			color: rgb(6, 5, 37);
			font-size: 34px;
			font-weight: 700;
			line-height: 110%;
		}
	}
	.contact_work_time {
		color: rgb(138, 138, 160);
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -1px;
		text-align: center;
		margin-bottom: 38px;
	}
	.footer_socials {
		display: flex;
		align-items: center;
		gap: 14px;
		justify-content: center;
		margin-bottom: 48px;
		.social_item img {
			width: 66px;
			height: 66px;
		}
	}
	.contact_map_block {
		display: flex;
		justify-content: space-between;
		padding: 52px 0 100px 0;
		border-top: 1px solid rgb(214, 223, 237);
		border-bottom: 1px solid rgb(214, 223, 237);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
			width: 1px;
			height: 100%;
			background-color: rgb(214, 223, 237);
		}
	}
	.map_item {
		padding: 4px;
		border-radius: 20px;
		box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
		background: rgb(255, 255, 255);
		overflow: hidden;
	}
	.map_location {
		color: rgb(6, 5, 37);
		font-size: 22px;
		font-weight: 400;
		line-height: 145%;
		letter-spacing: -1px;
	}
	.map_top {
		padding: 28px;
		border-radius: 18px;
		background: rgb(240, 243, 248);
		display: flex;
		align-items: center;
		gap: 18px;
		margin-bottom: 4px;
	}
}

// footer
footer {
	padding: 38px 0 60px 0;
	.footer_block {
		display: flex;
		justify-content: space-between;
		padding-bottom: 38px;
		margin-bottom: 28px;
		border-bottom: 1px solid rgb(214, 223, 237);
	}
	.footer_item {
		max-width: 21%;
	}
	.footer_logo {
		margin-bottom: 18px;
	}
	.footer_desc {
		color: rgb(138, 138, 160);
		font-size: 14px;
		font-weight: 400;
		line-height: 145%;
		margin-bottom: 38px;
	}
	.footer_socials {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	.footer_item_name {
		color: rgb(138, 138, 160);
		font-size: 16px;
		font-weight: 600;
		line-height: 145%;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 14px;
	}
	.footer_list {
		display: flex;
		flex-direction: column;
		gap: 8px;
		li a {
			color: rgb(6, 5, 37);
			font-size: 16px;
			font-weight: 400;
			line-height: 135%;
		}
	}
	.footer_bottom {
		display: flex;
		justify-content: space-between;
	}
	.policy_title,
	.payment_desc,
	.footer_bottom_desc {
		color: rgb(138, 138, 160);
		font-size: 14px;
		font-weight: 400;
		line-height: 20.3px;
	}
	.footer_bottom_desc {
		max-width: 520px;
	}
	.payment_block {
		display: flex;
		gap: 10px;
		margin-top: 18px;
		flex-wrap: wrap;
	}
	.payment_types {
		max-width: 215px;
	}
	.payment_type {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70px;
		height: 41px;
		border-radius: 8px;
		background: rgb(255, 255, 255);
	}
}
