* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  color: #060525;
}

body:has(.modal_back.active) {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

h1 {
  font-size: 58px;
  font-weight: 700;
}

h2 {
  font-size: 56px;
  font-weight: 700;
}

h3 {
  font-size: 38px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

.text_1 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0px;
}

.text_2 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
}

.text_3 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
}

.title {
  color: rgb(6, 5, 37);
  font-size: 56px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -3px;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 38px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title {
    font-size: 38px;
    letter-spacing: 0;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  h2 {
    font-size: 32px;
  }
  .title {
    font-size: 32px;
    margin: 0 0 30px 0;
  }
}
.main_btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 12px 12px 12px 30px;
  border-radius: 100px;
  background: linear-gradient(135deg, rgb(219, 42, 29) 0%, rgb(219, 42, 29) 100%);
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 700;
  line-height: 125%;
  transition: 0.3s all ease;
  cursor: pointer;
}
.main_btn img {
  padding: 12px 11px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.main_btn:hover {
  color: rgb(255, 255, 255);
  background: linear-gradient(135deg, rgb(250, 80, 68), rgb(255, 90, 78) 100%);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

input, textarea, select, button {
  font-family: "Manrope";
}

ul {
  list-style: none;
}

.breadcrumbs {
  border-radius: 100px;
  background-color: #FFFFFF;
  padding: 14px 20px;
  margin: 0 0 28px 0;
  width: auto;
  display: inline-flex;
  align-items: center;
  gap: 27px;
}
.breadcrumbs li {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #9CADC9;
}
.breadcrumbs a {
  color: #060525;
  position: relative;
}
.breadcrumbs a::after {
  position: absolute;
  content: "/";
  right: -16px;
}
@media (max-width: 576px) {
  .breadcrumbs {
    padding: 10px 12px;
    gap: 14px;
    margin: 0;
  }
  .breadcrumbs li {
    font-size: 10px;
  }
  .breadcrumbs a::after {
    right: -8px;
  }
}

body:has(.modal_back.active) {
  overflow: hidden;
}

.modal_back {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2e3548;
  opacity: 0;
  transition: 0.2s all ease;
  z-index: 3;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.modal_back.active {
  visibility: visible;
  opacity: 0.3;
}

.call_modal {
  opacity: 0;
  visibility: hidden;
  scale: 0.9;
  transition: 0.3s all ease;
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 3;
  overflow: hidden;
}
.call_modal.active {
  opacity: 1;
  visibility: visible;
  top: 50%;
  scale: 1;
}
.call_modal::after {
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  top: -80px;
  right: -80px;
  border-radius: 50%;
  background-color: #3a4259;
  z-index: 1;
}
.call_modal .close_modal2 {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  scale: 0.7;
  cursor: pointer;
}
@media (max-width: 576px) {
  .call_modal {
    width: 90%;
  }
  .call_modal .consultation {
    width: 100%;
    padding: 20px;
  }
  .call_modal .consultation h3 {
    font-size: 28px;
  }
  .call_modal .consultation p br {
    display: none;
  }
  .call_modal .close_modal2 {
    right: 6px;
    top: 6px;
  }
  .call_modal::after {
    width: 100px;
    height: 100px;
    top: -50px;
    right: -50px;
  }
}

.consultation {
  flex: 0 0 auto;
  width: 461px;
  border-radius: 20px;
  background-color: #2e3548;
  padding: 48px 48px 62px 48px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.consultation h3 {
  font-size: 32px;
  line-height: 115%;
  letter-spacing: -2%;
  color: #ffffff;
  margin: 0 0 18px 0;
}
.consultation .text_2 {
  color: #9aa2b7;
  font-weight: 400;
  line-height: 135%;
  margin: 0 21px 25px 21px;
}
.consultation input,
.consultation button {
  width: 100%;
  font-family: Manrope;
  border: none;
  outline: none;
}
.consultation input {
  border-radius: 12px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 12px 0;
  padding: 16px 20px;
}
.consultation button {
  justify-content: center;
  font-size: 20px;
  padding: 19px 12px;
  margin: 0 0 19px 0;
}
.consultation .consult_desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  color: #9aa2b7;
  padding: 0 4px;
}
.consultation .consult_desc a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: underline;
}
.consultation::after {
  position: absolute;
  content: "";
  left: -451px;
  bottom: 113px;
  z-index: -1;
  width: 300%;
  height: 80%;
  background-image: url(../images/zigzak.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  transform: rotate(-35deg);
}

.block_title {
  font-size: 46px;
  font-weight: 700;
  line-height: 105%;
  margin: 0 0 48px;
}
@media (max-width: 768px) {
  .block_title {
    margin: 0 0 28px;
  }
}
@media (max-width: 576px) {
  .block_title {
    font-size: 26px;
    margin: 0 0 16px 0;
  }
}

.block_descriptions {
  display: flex;
  align-items: flex-start;
  gap: 56px;
  padding: 0 0 48px 0;
  border-bottom: 1px solid #D6DFED;
}
.block_descriptions p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.block_descriptions.column {
  flex-direction: column;
  gap: 28px;
  padding: 0 0 100px 0;
}
@media (max-width: 768px) {
  .block_descriptions {
    flex-direction: column;
    gap: 28px;
  }
}
@media (max-width: 576px) {
  .block_descriptions {
    gap: 15px;
  }
  .block_descriptions.column {
    gap: 15px;
  }
  .block_descriptions p {
    font-size: 14px;
  }
}

.help {
  display: flex;
  position: fixed;
  right: 28px;
  bottom: 28px;
  z-index: 1;
  transition: 0.3s all ease;
  border-radius: 50%;
  cursor: pointer;
}
.help img {
  width: 100%;
}
.help:hover {
  scale: 0.95;
  box-shadow: 0px 4px 10px 0px rgba(219, 42, 29, 0.4);
}
.help.hidde {
  scale: 0;
  opacity: 0;
}
@media (max-width: 576px) {
  .help {
    width: 50px;
    height: 50px;
  }
}

.online {
  display: flex;
  flex-direction: column;
  border-radius: 20px 0px 20px 20px;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 28px;
  right: -100%;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  scale: 0.5;
  transition: 0.3s all ease;
}
.online.active {
  right: 28px;
  opacity: 1;
  visibility: visible;
  scale: 1;
}
.online li {
  padding: 18px 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  border-bottom: 1px solid #EAEAEA;
}
.online li:last-child {
  border: none;
}
.online li:last-child img {
  width: 40px;
  height: 40px;
}
.online a {
  color: #060525;
}
.online .close_online {
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: 0;
  padding: 0;
}

.information {
  max-width: 980px;
  width: 100%;
  max-height: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
  scale: 0.9;
  z-index: 5;
}
.information.active {
  opacity: 1;
  visibility: visible;
  scale: 1;
}
.information img {
  width: 100%;
  height: 100%;
  max-height: 260px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.information .more_texts {
  padding: 48px;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.information .more_texts::-webkit-scrollbar {
  display: none;
}
.information .title {
  font-size: 48px;
  font-weight: 700;
  line-height: 110%;
  margin: 0 0 18px 0;
  text-align: left;
  letter-spacing: 0;
}
.information .text {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  margin: 0 0 38px 0;
}
.information .text_small {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin: 0 0 18px 0;
}
.information .text_small:last-child {
  margin: 0;
}
.information .close_modal2 {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  scale: 0.7;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .information {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .information {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .information {
    width: 80%;
  }
  .information .title {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .information .more_texts {
    padding: 30px 20px 40px 20px;
  }
  .information .close_modal2 {
    right: 6px;
    top: 6px;
  }
  .information .title {
    font-size: 32px;
    margin: 0 0 16px 0;
  }
  .information .text {
    font-size: 16px;
    line-height: 145%;
    margin: 0 0 20px 0;
  }
  .information .text_small {
    font-size: 14px;
    margin: 0 0 20px 0;
  }
}

header {
  background: #f0f3f8;
}
header .header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #d6dfed;
}
header .address,
header .social,
header .phone_number {
  position: relative;
}
header .address::after,
header .social::after,
header .phone_number::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 56px;
  left: -7px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #d6dfed;
}
header .brand_logo {
  width: 190px;
  height: 78px;
  border: none;
  flex: 0 0 auto;
}
header .brand_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .address {
  padding: 0 21px 0 21px;
  margin: 0 0 0 106px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  text-wrap: nowrap;
}
header .address a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #060525;
}
header .address span {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #d6dfed;
  border-radius: 50%;
}
header .address span img {
  width: 15px;
  height: 20px;
}
header .social {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  padding: 0 28px 0 42px;
  text-wrap: nowrap;
  width: 27%;
}
header .social a {
  display: flex;
}
header .social img {
  width: 40px;
  height: 40px;
}
header .social::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: 22px;
  top: 50%;
  border-radius: 50%;
  transform: translate(0, -50%);
  background-color: #00d655;
}
header .phone_number {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 0 0 28px;
}
header .phone_number .desctop_icon {
  width: 54px;
  height: 54px;
  padding: 8px;
  border-radius: 50%;
  border: 1px dashed #d6dfed;
}
header .phone_number .mobile_icon {
  display: none;
}
header .phone_number div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header .phone_number span {
  font-size: 20px;
  color: #060525;
}
header .phone_number p {
  font-size: 12px;
  font-weight: 400;
  color: #9cadc9;
}
header .header_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d6dfed;
  padding: 15px 0;
}
header .header_bottom nav {
  position: relative;
}
header .header_bottom_right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 0 0 auto;
}
header .header_bottom_right .phone_number {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
header .nav_item {
  border-radius: 100px;
  background-color: #fff;
  padding: 9px 14.5px;
  font-size: 16px;
  font-weight: 400;
  color: #060525;
  margin: 0 9px 0 0;
  border: 1px solid #fff;
  transition: 0.3s all ease-out;
  display: inline-block;
}
header .nav_item:last-child {
  margin: 0;
}
header .nav_item:hover {
  border-color: #d6dfed;
  background-color: #f0f3f8;
}
header .nav_item:hover .menus_list {
  transform: none;
  opacity: 1;
  visibility: visible;
}
header .nav_item a {
  color: #060525;
}
header .nav_item .open_menu {
  width: 25px;
  height: 22px;
  padding: 8px 0px;
  vertical-align: middle;
  transition: 0.3s all ease;
  cursor: pointer;
}
header .nav_item .menus_list {
  position: absolute;
  left: 0;
  top: calc(100% + 18px);
  border: 1px solid #d6dfed;
  border-radius: 20px;
  background-color: #fff;
  transform: translateY(20px);
  width: 1160px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: 0.3s transform ease-out, 0.3s visibility ease-out, 0.1s opacity ease;
}
header .nav_item .menus_list .menu {
  max-width: 693px;
  width: 100%;
  padding: 18px;
  border-right: 1px solid #d6dfed;
  border-radius: 20px;
}
header .nav_item:has(img) {
  padding: 9px 6.5px 9px 14.5px;
}
header .menus_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  position: relative;
}
header .menus_list li:first-child {
  padding: 0 0 18px 0;
}
header .menus_list li:first-child .inner_menu {
  top: -18px;
}
header .menus_list li:last-child {
  padding: 18px 0 0 0;
}
header .menus_list li:last-child::after {
  display: none;
}
header .menus_list li img:first-child {
  width: 88px;
  height: 48px;
  border-radius: 8px;
}
header .menus_list li .open_inner {
  cursor: pointer;
}
header .menus_list li div {
  display: flex;
  align-items: center;
  gap: 18px;
}
header .menus_list li .inner_menu {
  position: absolute;
  right: -36px;
  top: 0;
  transform: translate(90%, 0);
  transition: 0.3s all ease-out;
  opacity: 0;
  visibility: hidden;
}
header .menus_list li .inner_menu li {
  padding: 30px 0;
}
header .menus_list li .inner_menu li:last-child::after {
  display: block;
}
header .menus_list li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #eaeaea;
}
header .menus_list li:hover .inner_menu {
  transform: translate(100%, 0);
  opacity: 1;
  visibility: visible;
}
header .to_call {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  background: linear-gradient(135deg, rgb(219, 42, 29), rgb(219, 42, 29) 100%);
  transition: 0.3s all ease-out;
}
header .to_call:hover {
  background: linear-gradient(135deg, rgb(250, 80, 68), rgb(255, 90, 78) 100%);
}
header .hamburger {
  display: none;
}
@media (max-width: 1200px) {
  header .brand_logo {
    width: 150px;
    height: 61px;
  }
  header .address {
    margin: 0 0 0 28px;
  }
  header .social {
    flex-wrap: wrap;
    padding: 0 28px;
    width: 20%;
  }
  header .social span {
    width: 100%;
    padding: 0 0 0 20px;
  }
  header .social::before {
    left: 28px;
    top: 16%;
  }
  header .phone_number span {
    text-wrap: nowrap;
  }
  header .nav_item {
    padding: 8px 12px;
    font-size: 15px;
    margin: 0 7px 0 0;
  }
  header .nav_item:has(img) {
    padding: 8px 6.5px 8px 12px;
  }
  header .nav_item .menus_list {
    width: 961px;
  }
  header .nav_item .menus_list .menu {
    max-width: 600px;
  }
}
@media (max-width: 992px) {
  header .phone_number .desctop_icon, header .phone_number div {
    display: none;
  }
  header .phone_number .mobile_icon {
    display: block;
    box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
    border-radius: 50%;
  }
  header .brand_logo {
    width: 140px;
    height: 57px;
  }
  header .address {
    margin: 0 0 0 21px;
  }
  header .social {
    padding: 0 21px;
    width: 25%;
  }
  header .nav_item {
    margin: 0 7px 10px 0;
  }
  header .nav_item:last-child {
    margin: 0 0 10px 0;
  }
  header .header_bottom {
    padding: 15px 0 5px 0;
  }
  header .nav_item .menus_list {
    top: calc(100% + 5px);
  }
  header .nav_item .menus_list {
    width: 721px;
  }
  header .nav_item .menus_list .menu {
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  header .address, header .social {
    display: none;
  }
  header .hamburger {
    display: block;
    cursor: pointer;
  }
  header .header_right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  header .phone_number {
    padding: 0;
  }
  header .phone_number::after {
    display: none;
  }
  header .header_top {
    padding: 20px 0;
  }
  header .header_bottom {
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 4px 25px 0px rgba(46, 53, 72, 0.15);
    background-color: #FFF;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 0;
    transition: 0.3s all ease;
    border: none;
  }
  header .header_bottom.active {
    margin: 20px 0 0 0;
    height: auto;
    border-bottom: 1px solid #d6dfed;
  }
  header .header_bottom nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header .nav_item {
    width: 100%;
    text-align: center;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #F0F3F8;
    margin: 0;
    padding: 20px;
    font-size: 16px;
  }
  header .nav_item:hover {
    background-color: transparent;
    border-color: #F0F3F8;
  }
  header .nav_item.active .menus_list {
    height: auto;
  }
  header .nav_item:has(img) {
    padding: 20px;
  }
  header .nav_item .menus_list {
    position: relative;
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    border: none;
    width: auto;
    transform: none;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: 0.3s all ease;
  }
  header .nav_item .menus_list img {
    display: none;
  }
  header .nav_item .menus_list .menu {
    padding: 0;
    border: none;
    max-width: none;
    width: 100%;
  }
  header .nav_item .menus_list .menu li {
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
  }
  header .nav_item .menus_list .menu li::after {
    display: none;
  }
  header .nav_item .menus_list .menu li.active a {
    color: #9CADC9;
  }
  header .nav_item .menus_list .menu li:hover .inner_menu {
    transform: none;
  }
  header .menus_list li .inner_menu {
    opacity: 1;
    visibility: visible;
    position: relative;
    right: inherit;
    top: auto;
    transform: none;
    height: 0;
    overflow: hidden;
    transition: 0.3s all ease;
    border-radius: 15px;
    background-color: #F0F3F8;
    width: 100%;
  }
  header .menus_list li .inner_menu::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 17px;
    height: 17px;
    background-color: #F0F3F8;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  header .menus_list li:first-child .inner_menu {
    top: auto;
  }
  header .nav_item.active img {
    transform: rotateX(180deg);
  }
  header .menus_list li.active .inner_menu {
    height: auto;
    margin: 20px 0 0 0;
    overflow: visible;
  }
  header .nav_item .menus_list .menu li .inner_menu li::after {
    display: block;
  }
  header .nav_item .menus_list .menu li .inner_menu li:last-child::after {
    display: none;
  }
  header .menus_list li {
    padding: 20px;
  }
  header .menus_list li a {
    font-weight: 600;
    line-height: 120%;
  }
  header .menus_list .inner_menu a {
    font-weight: 500;
    font-size: 14px;
  }
  header .header_bottom_right {
    margin: 30px 0;
  }
  header .header_bottom_right .phone_number {
    display: flex;
  }
  header .header_bottom_right .phone_number a {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    color: #060525;
  }
  header .header_bottom_right .phone_number p {
    color: #9C9CA3;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
  }
}
.single {
  background-color: #F0F3F8;
  padding: 18px 0 0 0;
}
.single .section_top {
  padding: 60px 0 48px 0;
  display: flex;
  gap: 58px;
  align-items: flex-end;
  justify-content: space-between;
}
.single .section_title {
  font-size: 46px;
  font-weight: 700;
  line-height: 105%;
  width: calc(46% - 29px);
}
.single .section_desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  width: calc(50% - 29px);
}
.single .single_main {
  border-radius: 20px;
  height: 100%;
  max-height: 460px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 0 0 60px 0;
}
.single .block_title {
  font-size: 32px;
}
.single .block_descriptions {
  margin: 0 0 80px 0;
  padding: 0 0 80px 0;
}
.single .block_descriptions.column {
  margin: 0;
}
@media (max-width: 768px) {
  .single .section_top {
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0 30px 0;
  }
  .single .section_title, .single .section_desc {
    width: 100%;
  }
  .single .single_main {
    max-height: 400px;
    margin: 0 0 40px 0;
  }
  .single .block_descriptions {
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
  }
}
@media (max-width: 576px) {
  .single {
    padding: 20px 0 30px 0;
  }
  .single .section_title {
    font-size: 32px;
  }
  .single .section_top {
    gap: 16px;
  }
  .single .single_main {
    max-height: 320px;
    margin: 0 0 30px 0;
  }
  .single .block_title {
    font-size: 26px;
  }
}

footer {
  padding: 38px 0 60px 0;
  background-color: #F0F3F8;
}
footer .footer_block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 38px;
  margin-bottom: 28px;
  border-bottom: 1px solid rgb(214, 223, 237);
}
footer .footer_item {
  max-width: 21%;
}
footer .footer_logo {
  margin-bottom: 18px;
  display: flex;
}
footer .footer_desc {
  color: rgb(138, 138, 160);
  font-size: 14px;
  font-weight: 400;
  line-height: 145%;
  margin-bottom: 38px;
}
footer .footer_socials {
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .footer_item_name {
  color: rgb(138, 138, 160);
  font-size: 16px;
  font-weight: 600;
  line-height: 145%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
footer .footer_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer_list li a {
  color: rgb(6, 5, 37);
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
}
footer .footer_bottom {
  display: flex;
  justify-content: space-between;
}
footer .policy_title,
footer .payment_desc,
footer .footer_bottom_desc {
  color: rgb(138, 138, 160);
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
}
footer .footer_bottom_desc {
  max-width: 493px;
}
footer .payment_block {
  display: flex;
  gap: 10px;
  margin-top: 18px;
  flex-wrap: wrap;
}
footer .payment_types {
  max-width: 185px;
}
footer .payment_type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 41px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
@media (max-width: 1200px) {
  footer .footer_bottom {
    gap: 60px;
  }
  footer .footer_bottom_desc {
    max-width: 450px;
  }
}
@media (max-width: 992px) {
  footer .footer_block {
    flex-wrap: wrap;
    gap: 24px;
  }
  footer .footer_item {
    width: calc(33.33% - 16px);
    max-width: 100%;
  }
  footer .footer_item:has(.footer_logo) {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .footer_desc {
    order: 1;
    margin: 0;
  }
  footer .footer_socials {
    order: 0;
  }
  footer .footer_bottom {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  footer .payment_types {
    order: 3;
  }
  footer .footer_bottom_desc {
    max-width: 466px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 38px 0 60px 0;
  }
  footer .footer_item {
    max-width: 45%;
  }
  footer .payment_types {
    max-width: 215px;
    order: -1;
  }
  footer .payment_type {
    background-color: transparent;
  }
  footer .footer_desc {
    width: 100%;
    text-align: center;
  }
  footer .footer_item {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  footer .footer_bottom {
    flex-direction: column;
    align-items: center;
  }
  footer .footer_bottom p {
    text-align: center;
  }
  footer .footer_bottom .footer_bottom_desc {
    max-width: none;
  }
  footer .payment_block {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  footer {
    padding: 0px 0 60px 0;
    background: #f0f3f8;
  }
  footer .footer_block {
    gap: 40px 0;
    align-items: center;
    padding-bottom: 30px;
  }
  footer .footer_socials {
    justify-content: center;
  }
  footer .footer_bottom {
    gap: 3 0px 0;
  }
  footer .payment_block {
    justify-content: center;
  }
  footer .payment_types,
  footer .footer_bottom_desc {
    text-align: center;
  }
  footer .footer_item {
    max-width: unset;
    text-align: center;
    width: 100%;
  }
  footer .footer_desc {
    max-width: 232px;
    margin: 0 auto 20px auto;
  }
  footer .footer_item:has(.footer_logo) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .footer_desc {
    order: 0;
  }
}